// 颜色
$--success-color: #67C23A;
$--warning-color: #E6A23C;
$--danger-color: #F56C6C;
$--info-color: #909399;
$--main-color: #409EFF;
$--pika-color: rgb(244, 77, 55);
// 文字颜色
$--main-text-color: #303133;
$--common-text-color: #606266;
$--secondary-text-color: #909399;
$--placeholder-text-color: #C0C4CC;
// 文字
$--main-title: 20px;
$--title: 18px;
$--small-title: 16px;
$--context: 14px;
$--small-context: 13px;
$--text: 12px;
// 边框颜色
$--first-border-color: #DCDFE6;
$--second-border-color: #E4E7ED;
$--third-border-color: #EBEEF5;
$--fourth-border-color: #F2F6FC;
// 字体
$--el-font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

// 浅色边框
$--light-border: 1px solid $--first-border-color;

